/* Hero-section */
#splittable-hero-section{
  background: url("../../../static/img/splittable/hero-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 17% 0 24%;
}

.splittable-hero-img-mob{
  display: none;
}

.splittable-hero-text {
  padding-top: 3em;
}

.splittable-hero-text > h1{
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.splittable-hero-text > p{
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.splittable-hero-text > ul{
  padding-left: 0px;
  list-style: none;
  display: inline-flex;
  margin-top: 1em;
}

.splittable-hero-text > ul > li:nth-child(2){
  margin-left: 1em;
}


.splittable-hero-text > ul > li > a{
  color: #354656;
  background: #ffffff;
}

.splittable-hero-text > ul > li > a > div > i {
  font-size: 28px;
}

.navbar > a  {
  width: 228px;
  height: 114px;
}


/* How it works section */

#splittable-how-it-works-section{
  background: #ffffff;
  padding: 0 0 100px 0;
}

.splittable-how-it-works-content > header > h1 {
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  color: #021f41;
}

.splittable-how-it-works-content > header > hr {
  background: #9D1521;
  height: 3px;
  transform: translateY(calc(-50% - 1px));
  width: 110px;
}

.splittable-how-it-works-content > p {
  font-family: 'Myriad Pro Regular';
  font-size: 20px;
  line-height: 24px;
  color: #646464;
  padding: 1em 10em;
}

.splittable-how-to-work-process > h3 {
  font-size: 20px;
  line-height: 24px;
  color: #354656;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 1em;
}

.splittable-how-to-work-process > p{
  font-size: 16px;
  line-height: 24px;
  color: #646464;
}

.splittable-how-it-works-content > a{
  margin-top: 2em;
  background: #9d1521;
  color: #ffffff;
  font-size: 16px;
  padding: 0.6em 1.5em;
}

.splittable-how-to-work-process-arrow > .img-desktop {
  display: block;
}

.splittable-how-to-work-process-arrow > .img-mob {
  display: none;
}


/* Get Your App */

#splittable-get-your-app-section {
background-image: url("../../../static/img/splittable/get-your-app-bg.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}

.splittable-get-your-app-text {
  margin-top: auto;
  margin-bottom: auto;
}

.splittable-get-your-app-wrap {
  margin-top: -3.45em;
}

.splittable-get-your-app-wrap > img {
  width: 354px;
}

.splittable-get-your-app-text > h1 {
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.splittable-get-your-app-text > a {
  color: #3d4e5e;
  background: #ffffff;
  width: 56%;
  margin-top: 1em;
}

.splittable-get-your-app-text > a > div > i {
  font-size: 25px;
  padding:0 7px;
}


/* App Integration */

#splittable-integration-section{
  padding: 100px 0;
}

.splittable-integration-head > h1 {
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  color: #021f41;
}

.splittable-integration-head > hr {
  background: #9D1521;
  height: 3px;
  -webkit-transform: translateY(calc(-50% - 1px));
  transform: translateY(calc(-50% - 1px));
  width: 110px;
}

.splittable-integration-head > p {
  font-family: 'Myriad Pro Regular';
  font-size: 20px;
  line-height: 24px;
  color: #646464;
}

.video-react .video-react-big-play-button {
  background-color:transparent;
  border:none;
}

.video-react:hover .video-react-big-play-button, .video-react .video-react-big-play-button:focus {
  background-color: transparent;
 }

.video-react .video-react-big-play-button:before {
  content: url('../../../static/img/splittable/play-icon.png');
  transform: scale(.8);
  top: -37px;
}

.video-react .video-react-control-text{
  position: initial;
  font-family: 'sofia_probold';
  font-size: 13px;
  text-transform: uppercase;
}

.video-react .video-react-poster {
  /*background-size: cover;*/
  height: 500px;
  width: auto;
}

span.video-react-control-text {
  display: none;
}



@media (max-width:990px){
  /* Hero Section */
  #splittable-hero-section{
    background: url("../../../static/img/splittable/hero-ng-mob.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 17% 0 4%;
  }

  .splittable-hero-text > ul > li > a {
    padding: 0.25em 1.5em;
  }


  .splittable-hero-text{
    text-align: center;
    padding-bottom: 2em;
  }

  .splittable-hero-img-mob{
    display: block;
    text-align: center;
  }

  .splittable-hero-text > h1 {
    font-size: 40px;
  }

  .splittable-hero-text > ul {
    margin-top: 1em;
  }

  .splittable-how-it-works-content > header > h3 {
    margin-top: 0em;
  }


  /* How it works */
  .splittable-how-it-works-content > p{
    padding: 0;
  }

  .splittable-how-to-work-process-arrow > .img-desktop {
    display: none;
  }

  .splittable-how-to-work-process-arrow{
    padding-top: 1em !important;
    padding-bottom: 1em;
  }

  .splittable-how-to-work-process-arrow > .img-mob {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  /* Get App */
  .howsjay-get-your-app-text > h1 {
    font-size: 33px;
  }


  /* App Integration */
  .video-react .video-react-big-play-button:before {
    transform: scale(.5);
    left: -16px;
  }
}

@media(max-width: 780px){
  #splittable-hero-section{
    padding: 17% 0 1%;
  }
}

@media(max-width:600px){
  .splittable-hero-text{
    padding-top:20% ;
  }

/* Costumers Talking */
  #splittable-how-it-works-section{
    padding: 50px 0;
  }


/* Get App */
  .splittable-get-your-app-text > a {
    width: 100%;
  }

  .splittable-features-img-col {
    padding: 40px 20px 40px 20px;
  }

  .splittable-get-your-app-wrap{
    padding-top: 10px;
    margin: 0;
  }

  .splittable-get-your-app-text > h1 {
    font-size: 28px;
  }

  .splittable-get-your-app-wrap > img {
    width: 164px;
  }
}
