/* Header */
#splittable-header-mob{
  display: none;
}

#splittable-header-desktop{
  width: 100%;
  position: absolute;
  display: block;
  z-index: 100;
}

.nav-link{
  font-size: 16px;
  line-height: 24px;
  color: #ffffff !important;
  text-transform: uppercase;
}

.modal-open{
  overflow:auto;
  padding-right:0 !important;
}

#splittable-header-mob{
  position: absolute;
  width: 100%;
  padding: 20px 0;
}

.splittable-header-mob-toggle > a > i{
  color: #354656;
  background: #ffffff;
  font-size: 20px;
}

/* Off-Canvas Menu*/
#splittable-sidenav {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 280px;
  left: -260px;
   height: 100%;
  -webkit-transform: translate(260px, 0px);
  -moz-transform: translate(260px, 0px);
  -o-transform: translate(260px, 0px);
  -ms-transform: translate(260px, 0px);
  transform: translate(260px, 0px);
  -webkit-transition: 0.30s ease;
  -moz-transition: 0.30s ease;
  -o-transition: 0.30s ease;
  transition: 0.30s ease;
}


.splittable-sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.925);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.splittable-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.splittable-sidenav a:hover {
  color: #f1f1f1;
}

.splittable-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: #ffffff !important;
}

@media (max-width:990px){
  /* Header */
  #splittable-header-desktop{
    display: none;
  }

  #splittable-header-mob{
    display: block;
  }

  .splittable-header-mob-logo > a{
    margin-left: 1.5em;
  }

}
